* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hind Madurai", sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}
.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1rem;
}
.flex {
  display: flex;
}

/* common style */
.flexExtra {
  align-items: center;
  justify-content: space-between;
}
.flexExtra2 {
  align-items: center;
  justify-content: center;
}
/* header */
nav {
  background: #ffffff;
  padding: 1.5rem 0;
  box-shadow: 0px 1px 50px rgba(181, 181, 181, 0.25);
}
.logoPart img {
  height: 3rem;
}
.logoPart .logoName {
  color: #006747;
}
.navItems {
  /* width: 7.5rem;
  height: 3.25rem; */
  padding: 1rem 1.5rem;
  margin-left: 0.5rem;
  background: rgba(65, 255, 107, 0.1);
  border-radius: 3rem;
}
.navItems.green {
  background: #00a63e;
  color: #ffffff;
}
.gap10 {
  gap: 0.5rem;
}
.icon {
  font-size: 2rem;
}
.fa-regular.fa-heart{
  transition: .3s;
}
.fa-regular.fa-heart:hover{
  color: red;
}
.fa-regular.fa-heart:active{
  color:black;
}
.icon1Color {
  color: red;
}
.icon2Color {
  color: #fcd227;
}
/* bannerSection */
.bannerSection {
  background: linear-gradient(90deg, #013223 0%, #006747 49.99%, #013223 100%);
  color: #ffffff;
}
.flexClass {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img {
  width: 5.5rem;
  height: 5.5rem;
  margin-top: 21px;
}
.heading {
  margin: 0.75rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}
.description {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
}
/* cardSection */
.gridMain {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
}
.cardSection {
  background: rgba(65, 255, 107, 0.1);
  padding: 3rem 0 5.25rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.card {
  background: #ffffff;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  padding: 2rem;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icons img {
  width: 5.75rem;
  height: 5.75rem;
  background: #ffe3e2;
  padding: 1rem;
  border-radius: 1rem;
}
.icons i {
  color: gray;
  cursor: pointer;
}
.serviceName {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.5rem;
}
.type {
  font-size: 1.25rem;
  color: gray;
  margin-bottom: 1rem;
}
.number {
  font-size: 2rem;
}
.typeBtn {
  padding: 6px 16px;
  background: #f2f2f2;
  border-radius: 9999px;
  color: gray;
  border: none;
  margin-bottom: 24px;
}
.btnGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  padding: 1rem 3rem;
  border: 1px solid #d4d6d5;
  border-radius: 0.5rem;
  font-size: 1.25rem;
  background: #ffffff;
}
.btnCopy {
  color: gray;
  transition: .3s;
}
.btnCopy:active{
  background: #006747;
}
.btnCall {
  background: green;
  color: white;
}

.history{
  background: #ffffff;
  padding: 1.5rem;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
}



/* history Part */
.clear{
  border: 0;
  font-size:1.25rem;
  color: #ffffff;
  cursor: pointer;
}
.top{
    display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 1rem;
}
.headeingGroup{
  font-size: 1.25rem;
  color: black;
}
/* history part */
.histo{
background: #FAFAFA;
border-radius: .5rem;
margin-bottom: .5rem;
padding: 1rem;
}
.histo h2{
  color: black;
  font-size: 1.25rem;
}
.histo p{
  color: gray;
    font-size: 1.25rem;
}












@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .container {
    padding: 1.5rem 1rem;
  }
  .gridMain {
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .btn {
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 1000px) {
  .gridMain {
    gap: 0.5rem;
  }
  .card {
    padding: 1rem;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}
@media screen and (max-width: 769px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 620px) {
  html {
    font-size: 10px;
  }
  .container {
    padding: 1.5rem 1rem;
  }
  nav {
    padding: 1.3rem 0;
  }
  .gridMain {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .card{
    padding: 2rem;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }
  .btn {
    padding: 1rem 5rem;
  }
}









